.idea
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~
.nfs*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Python
__pycache__/
*.py[cod]
*$py.class

# Compiled binary files
*.exe
*.dll
*.so
*.dylib
*.o
*.a
*.out
*.obj

/venv
Task 1 (Evie)/task1b_performance_plot_microseconds.png
Task 3 (Ruhina)/task3b_performance_graph.png
Task 4 (Dani)/outputs/graphs/task4b_runtime_plot.png
